/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    
/* Header */
.header-container {
    background-color: #120323;
    color: #97bf04;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.header-container img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.header-container h1 {
    font-size: 30px;
    margin: 0;
}