/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
    
/* Header */
.header-container {
    background-color: #120323;
    color: #97bf04;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.header-container img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

.header-container h1 {
    font-size: 30px;
    margin: 0;
}

/* Main Layout and Responsive Device for 1000px wide or greater */  
#container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 20px;
}
  
/* Main Content */
main {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
/* Main Figure and Image */
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
figure img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 5px solid #d9043d;
}
  
/* Sidebar */
aside {
    background-color: #97bf04;
    padding: 20px;
    color: black;
    flex: 1;
}
  
/* Footer */
footer {
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

/* Responsive Device for less than 768 screen */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
    }
    
    #container {
        flex-direction: column;
    }
    
    figure {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    figure img {
        width: 100%;
        border: 5px solid #d9043d;
    }
    
    aside {
        width: 100%;
    }
}

/* Responsive Device for less than 1000 */

@media (max-width: 1000px) {
    .header-container {
        flex-direction: row;
        justify-content: center;
    }
    
    main {
        flex-direction: row;
        align-items: flex-start;
    }
    
    figure {
        flex-direction: row;
        align-items: center;
        text-align: left;
        max-width: 600px;
    }
    
    figure img {
        max-width: 300px;
        margin-right: 20px;
        border: 5px solid #d9043d;
    }
    
    aside {
        width: 100%;
    }
}